# Pandas 作业 昌晶晶_2060710039

Pandas 是基于 NumPy 的一种数据处理工具，该工具为了解决数据分析任务而创建。Pandas 纳入了大量库和一些标准的数据模型，提供了高效地操作大型数据集所需的函数和方法。 这些练习着重DataFrame和Series对象的基本操作，包括数据的索引、分组、统计和清洗。

## 基本操作
### 1.导入 Pandas 库并简写为 pd，并输出版本号

In [12]:
import pandas as pd
pd.__version__

'1.3.4'

### 2. 从列表创建 Series

In [3]:
arr = [0, 1, 2, 3, 4]
df = pd.Series(arr) # 如果不指定索引，则默认从 0 开始
df

0    0
1    1
2    2
3    3
4    4
dtype: int64

### 3. 从字典创建 Series

In [4]:
d = {'a':1,'b':2,'c':3,'d':4,'e':5}
df = pd.Series(d)
df

a    1
b    2
c    3
d    4
e    5
dtype: int64

### 4. 从 NumPy 数组创建 DataFrame

In [6]:
import numpy as np
dates = pd.date_range('today', periods=6)  # 定义时间序列作为 index
num_arr = np.random.randn(6, 4)  # 传入 numpy 随机数组
columns = ['A', 'B', 'C', 'D']  # 将列表作为列名
df = pd.DataFrame(num_arr, index=dates, columns=columns)
df

                                   A         B         C         D
2022-06-04 19:50:55.738881  0.511770  0.430103  1.683792  0.040624
2022-06-05 19:50:55.738881  0.851478  1.032785  0.481701 -0.943085
2022-06-06 19:50:55.738881  0.020579 -0.495042  1.447661 -0.804951
2022-06-07 19:50:55.738881 -1.487194  0.207211  0.452652  0.360567
2022-06-08 19:50:55.738881  0.106278  0.469588  0.176563  0.835936
2022-06-09 19:50:55.738881 -2.018293  0.148575 -0.509141 -0.869872

### 5. 从CSV中创建 DataFrame，分隔符为“；”，编码格式为gbk

df = pd.read_csv('test.csv', encoding='gbk', sep=';')

In [9]:
df = pd.read_csv(r'./James_Harden.csv', encoding='UTF-8', sep='\n')
df

   对手,胜负,主客场,命中,投篮数,投篮命中率,3分命中率,篮板,助攻,得分
0       勇士,胜,客,10,23,0.435,0.444,6,11,27
1         国王,胜,客,8,21,0.381,0.286,3,9,27
2        小牛,胜,主,10,19,0.526,0.462,3,7,29
3            灰熊,负,主,8,20,0.4,0.25,5,8,22
4         76人,胜,客,10,20,0.5,0.25,3,13,27
5         黄蜂,胜,客,8,18,0.444,0.4,10,11,27
6         灰熊,负,客,6,19,0.316,0.222,4,8,20
7        76人,负,主,8,21,0.381,0.429,4,7,29
8        尼克斯,胜,客,9,23,0.391,0.353,5,9,31
9        老鹰,胜,客,8,15,0.533,0.545,3,11,29
10       爵士,胜,主,19,25,0.76,0.875,2,13,56
11      骑士,胜,主,8,21,0.381,0.429,11,13,35
12        灰熊,胜,主,11,25,0.44,0.429,4,8,38
13       步行者,胜,客,9,21,0.429,0.25,5,15,26
14        猛龙,负,主,8,25,0.32,0.273,6,11,38
15       太阳,胜,客,12,22,0.545,0.545,2,7,48
16           灰熊,胜,客,9,20,0.45,0.5,5,7,29
17        掘金,胜,主,6,16,0.375,0.143,8,9,21
18     尼克斯,胜,主,12,27,0.444,0.385,2,10,37
19       篮网,胜,主,13,20,0.65,0.615,10,8,37
20      步行者,胜,主,8,22,0.364,0.333,8,10,29
21       湖人,胜,客,13,22,0.591,0.444,4,9,36
22        爵士,胜,客,8,19,0.421,0.333,5,3,29
23      开拓者,胜,客,16,29,0.552,0.571,8,3,48
24           鹈鹕,胜,主,8,16,0.5,0.4,1,17,26

### 6. 从字典对象创建DataFrame，并设置索引

In [10]:
import numpy as np
data = {
    'animal':['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority':['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

### 7. 显示df的基础信息，包括行的数量；列名；每一列值的数量、类型

In [11]:
df.info()
# 方法二
# df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

### 8. 展示df的前3行

In [22]:
df[:3]
# 方法二
#df.head(3)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

### 9. 取出df的animal和age列

In [55]:
df.loc[df.index[:], ['animal','age']]
# 方法二
# df[['animal', 'age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  1.5
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

### 10. 取出索引为[3, 4, 8]行的animal和age列

In [36]:
df.loc[df.index[[3,4,8]], ['animal','age']]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

### 11. 取出age值大于3的行

In [37]:
df[df.age>3]

  animal  age  visits priority
e    dog  5.0       2       no
g  snake  4.5       1       no
i    dog  7.0       2       no

### 12. 取出age值缺失的行

In [41]:
df[df.age.isnull()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

### 13.取出age在2,4间的行（不含）

In [42]:
df[(df.age > 2) & (df.age < 4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no

### 14. f行的age改为1.5

In [54]:
df.loc['f', 'age'] = 1.5

### 15. 计算visits的总和

In [62]:
sum(df['visits'])
sum(df.loc[:,'visits'])

19

### 16. 计算每个不同种类animal的age的平均数

In [67]:
# df.groupby
df.groupby('animal')['age'].mean()

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

### 17. 在df中插入新行k，然后删除该行

In [68]:
#插入
df.loc['k'] = [5.5, 'dog', 'no', 2]
# 删除
df = df.drop('k')
df

  animal  age visits priority
a    cat  2.5      1      yes
b    cat  3.0      3      yes
c  snake  0.5      2       no
d    dog  NaN      3      yes
e    dog  5.0      2       no
f    cat  1.5      3       no
g  snake  4.5      1       no
h    cat  NaN      1      yes
i    dog  7.0      2       no
j    dog  3.0      1       no

### 18. 计算df中每个种类animal的数量

In [69]:
df['animal'].value_counts()

cat      4
dog      4
snake    2
Name: animal, dtype: int64

### 19. 先按age降序排列，后按visits升序排列

In [70]:
df.sort_values(by=['age', 'visits'], ascending=[False, True])

  animal  age visits priority
i    dog  7.0      2       no
e    dog  5.0      2       no
g  snake  4.5      1       no
j    dog  3.0      1       no
b    cat  3.0      3      yes
a    cat  2.5      1      yes
f    cat  1.5      3       no
c  snake  0.5      2       no
h    cat  NaN      1      yes
d    dog  NaN      3      yes

### 20. 将priority列中的yes, no替换为布尔值True, False

In [71]:
df['priority'] = df['priority'].map({'yes': True, 'no': False})
df

  animal  age visits  priority
a    cat  2.5      1      True
b    cat  3.0      3      True
c  snake  0.5      2     False
d    dog  NaN      3      True
e    dog  5.0      2     False
f    cat  1.5      3     False
g  snake  4.5      1     False
h    cat  NaN      1      True
i    dog  7.0      2     False
j    dog  3.0      1     False

### 21. 将animal列中的snake替换为python

In [72]:
df['animal'] = df['animal'].replace('snake', 'python')
df

   animal  age visits  priority
a     cat  2.5      1      True
b     cat  3.0      3      True
c  python  0.5      2     False
d     dog  NaN      3      True
e     dog  5.0      2     False
f     cat  1.5      3     False
g  python  4.5      1     False
h     cat  NaN      1      True
i     dog  7.0      2     False
j     dog  3.0      1     False

### 22. 对每种animal的每种不同数量visits，计算平均age，即，返回一个表格，行是aniaml种类，列是visits数量，表格值是行动物种类列访客数量的平均年龄

In [73]:
df.pivot_table(index='animal', columns='visits', values='age', aggfunc='mean')

visits    1    2     3
animal
cat     2.5  NaN  2.25
dog     3.0  6.0   NaN
python  4.5  0.5   NaN

### 进阶操作
### 23. 有一列整数列A的DatraFrame，删除数值重复的行

In [74]:
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
print(df)
df1 = df.loc[df['A'].shift() != df['A']]
# 方法二
# df1 = df.drop_duplicates(subset='A')
print(df1)

    A
0   1
1   2
2   2
3   3
4   4
5   5
6   5
7   5
8   6
9   7
10  7
   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

### 24. 一个全数值DatraFrame，每个数字减去该行的平均数

In [76]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
print(df)
df1 = df.sub(df.mean(axis=1), axis=0)
print(df1)

          0         1         2
0  0.827299  0.968222  0.289207
1  0.894949  0.763728  0.711858
2  0.599167  0.646042  0.515563
3  0.120259  0.827009  0.007599
4  0.265499  0.894324  0.144949
          0         1         2
0  0.132390  0.273313 -0.405703
1  0.104770 -0.026450 -0.078321
2  0.012243  0.059118 -0.071361
3 -0.198030  0.508720 -0.310690
4 -0.169425  0.459400 -0.289975

### 25. 一个有5列的DataFrame，求哪一列的和最小

In [98]:
df = pd.DataFrame(np.random.random(size=(5, 5)), columns=list('abcde'))
print(df)
df.sum().idxmin()

          a         b         c         d         e
0  0.379010  0.136547  0.953958  0.004422  0.667760
1  0.000872  0.197671  0.643087  0.752285  0.700666
2  0.492034  0.446582  0.161764  0.293146  0.618424
3  0.264321  0.300744  0.429706  0.716146  0.768815
4  0.297600  0.637284  0.195898  0.290627  0.839720

'a'

### 26. 给定DataFrame，求A列每个值的前3大的B的值的和

In [105]:
df = pd.DataFrame({'A': list('aaabbcaabcccbbc'), 
                   'B': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
print(df)
df1 = df.groupby('A')['B'].nlargest(3).sum(level=0)
print(df1)

    A    B
0   a   12
1   a  345
2   a    3
3   b    1
4   b   45
5   c   14
6   a    4
7   a   52
8   b   54
9   c   23
10  c  235
11  c   21
12  b   57
13  b    3
14  c   87
A
a    409
b    156
c    345
Name: B, dtype: int64

C:\usertemp/ipykernel_7076/2411810711.py:4: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  df1 = df.groupby('A')['B'].nlargest(3).sum(level=0)

### 27. 给定DataFrame，有列A, B，A的值在1-100（含），对A列每10步长，求对应的B的和

In [ ]:
df = pd.DataFrame({
    'A': [1, 2, 11, 11, 33, 34, 35, 40, 79, 99],
    'B': [1, 2, 11, 11, 33, 34, 35, 40, 79, 99]
})
print(df)
df1 = df.groupby(pd.cut(df['A'], np.arange(0, 101, 10)))['B'].sum()
print(df1)

### 28. 给定DataFrame，计算每个元素至左边最近的0（或者至开头）的距离，生成新列y

In [ ]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
# 方法一
x = (df['X'] != 0).cumsum()
y = x != x.shift()
df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()
print(df)

In [ ]:
# 方法二
df['Y'] = df.groupby((df['X'] == 0).cumsum()).cumcount()
first_zero_idx = (df['X'] == 0).idxmax()
df['Y'].iloc[0:first_zero_idx] += 1
print(df)

### 29. 一个全数值的DataFrame，返回最大3个值的坐标

In [ ]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
print(df)
df.unstack().sort_values()[-3:].index.tolist()

### 30. 给定DataFrame，将负值代替为同组的平均值

In [ ]:
df = pd.DataFrame({
    'grps':
    list('aaabbcaabcccbbc'),
    'vals': [-12, 345, 3, 1, 45, 14, 4, -52, 54, 23, -235, 21, 57, 3, 87]
})
print(df)


def replace(group):
    mask = group < 0
    group[mask] = group[~mask].mean()
    return group


df['vals'] = df.groupby(['grps'])['vals'].transform(replace)
print(df)

### 31. 计算3位滑动窗口的平均值，忽略NAN

In [ ]:
df = pd.DataFrame({
    'group': list('aabbabbbabab'),
    'value': [1, 2, 3, np.nan, 2, 3, np.nan, 1, 7, 3, np.nan, 8]
})
print(df)

g1 = df.groupby(['group'])['value']
g2 = df.fillna(0).groupby(['group'])['value']

s = g2.rolling(3, min_periods=1).sum() / g1.rolling(3, min_periods=1).count()
s.reset_index(level=0, drop=True).sort_index()

## Series 和 Datetime索引
### 32. 创建Series s，将2015所有工作日作为随机值的索引

In [ ]:
dti = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
s = pd.Series(np.random.rand(len(dti)), index=dti)

s.head(10)

### 33. 所有礼拜三的值求和

In [ ]:
s[s.index.weekday == 2].sum()

### 34. 求每个自然月的平均数

In [ ]:
s.resample('M').mean()

### 35. 每连续4个月为一组，求最大值所在的日期

In [ ]:
s.groupby(pd.Grouper(freq='4M')).idxmax()

### 36. 创建2015-2016每月第三个星期四的序列

In [ ]:
pd.date_range('2015-01-01', '2016-12-31', freq='WOM-3THU')
#数据清洗
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                               '12. Air France', '"Swiss Air"']})
df

### 37. FlightNumber列中有些值缺失了，他们本来应该是每一行增加10，填充缺失的数值，并且令数据类型为整数

In [ ]:
df['FlightNumber'] = df['FlightNumber'].interpolate().astype(int)
df

### 38. 将From_To列从_分开，分成From, To两列，并删除原始列

In [ ]:
temp = df.From_To.str.split('_', expand=True)
temp.columns = ['From', 'To']
df = df.join(temp)
df = df.drop('From_To', axis=1)
df

### 39. 将From, To大小写统一首字母大写其余小写

In [ ]:
df['From'] = df['From'].str.capitalize()
df['To'] = df['To'].str.capitalize()
df

### 40. Airline列，有一些多余的标点符号，需要提取出正确的航司名称。举例：'(British Airways. )' 应该改为 'British Airways'.

In [ ]:
df['Airline'] = df['Airline'].str.extract(
    '([a-zA-Z\s]+)', expand=False).str.strip()
df

### 41. Airline列，数据被以列表的形式录入，但是我们希望每个数字被录入成单独一列，delay_1, delay_2, ...没有的用NAN替代。

In [ ]:
delays = df['RecentDelays'].apply(pd.Series)
delays.columns = ['delay_{}'.format(n) for n in range(1, len(delays.columns)+1)]
df = df.drop('RecentDelays', axis=1).join(delays)
df

## 层次化索引
### 42. 用 letters = ['A', 'B', 'C']和 numbers = list(range(10))的组合作为系列随机值的层次化索引

In [ ]:
letters = ['A', 'B', 'C']
numbers = list(range(4))

mi = pd.MultiIndex.from_product([letters, numbers])
s = pd.Series(np.random.rand(12), index=mi)
s

### 43. 检查s是否是字典顺序排序的

In [ ]:
s.index.is_lexsorted()
# 方法二
# s.index.lexsort_depth == s.index.nlevels

### 44. 选择二级索引为1, 3的行

In [ ]:
s.loc[:, [1, 3]]

### 45. 对s进行切片操作，取一级索引至B，二级索引从2开始到最后

In [ ]:
s.loc[pd.IndexSlice[:'B', 2:]]
# 方法二
# s.loc[slice(None, 'B'), slice(2, None)]

### 46. 计算每个一级索引的和（A, B, C每一个的和）

In [ ]:
s.sum(level=0)
#方法二
#s.unstack().sum(axis=0)

### 47. 交换索引等级，新的Series是字典顺序吗？不是的话请排序

In [ ]:
new_s = s.swaplevel(0, 1)
print(new_s)
print(new_s.index.is_lexsorted())
new_s = new_s.sort_index()
print(new_s)

In [ ]:
## 可视化
import matplotlib.pyplot as plt
df = pd.DataFrame({"xs": [1, 5, 2, 8, 1], "ys": [4, 2, 1, 9, 6]})
plt.style.use('ggplot')

### 48. 画出df的散点图

In [ ]:
df.plot.scatter("xs", "ys", color = "black", marker = "x")

### 49. 可视化指定4维DataFrame

In [ ]:
df = pd.DataFrame({
    "productivity": [5, 2, 3, 1, 4, 5, 6, 7, 8, 3, 4, 8, 9],
    "hours_in": [1, 9, 6, 5, 3, 9, 2, 9, 1, 7, 4, 2, 2],
    "happiness": [2, 1, 3, 2, 3, 1, 2, 3, 1, 2, 2, 1, 3],
    "caffienated": [0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0]
})

df.plot.scatter(
    "hours_in", "productivity", s=df.happiness * 100, c=df.caffienated)

### 50. 在同一个图中可视化2组数据，共用X轴，但y轴不同

In [ ]:
df = pd.DataFrame({
    "revenue": [57, 68, 63, 71, 72, 90, 80, 62, 59, 51, 47, 52],
    "advertising":
    [2.1, 1.9, 2.7, 3.0, 3.6, 3.2, 2.7, 2.4, 1.8, 1.6, 1.3, 1.9],
    "month":
    range(12)
})

ax = df.plot.bar("month", "revenue", color="green")
df.plot.line("month", "advertising", secondary_y=True, ax=ax)
ax.set_xlim((-1, 12))